In [1]:
!pip install Faker
import pandas as pd
import numpy as np
from faker import Faker

Requirement already satisfied: Faker in /Users/harshithayentrapragada/opt/anaconda3/lib/python3.8/site-packages (8.13.2)
Requirement already satisfied: python-dateutil>=2.4 in /Users/harshithayentrapragada/opt/anaconda3/lib/python3.8/site-packages (from Faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in /Users/harshithayentrapragada/opt/anaconda3/lib/python3.8/site-packages (from Faker) (1.3)
Requirement already satisfied: six>=1.5 in /Users/harshithayentrapragada/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [2]:
fake = Faker()
def fake_data(num):    
    house_list = ['rent', 'own']
    salary_list = [400000,10000,20000,50000,100000,60000 ]
    fake_name=[{'name':fake.name(),
                  'email':fake.email(), 
                  'phonenumber':fake.phone_number(),
                  'address':fake.address(),
                  'yearborn':fake.date_of_birth().year,
                  'numberofkids':np.random.randint(0,5),
                  'houselist':np.random.choice(house_list, p=[0.75, 0.25]), 
                  'salarylist':np.random.choice(salary_list),
                  'speedtickets':np.random.randint(0,10)}for x in range(num)]
    return fake_name
name_df = pd.DataFrame(fake_data(100))

In [3]:
name_df.to_csv("harshitha.csv")

In [4]:
name_df.head()

,name,email,phonenumber,address,yearborn,numberofkids,houselist,salarylist,speedtickets
0,Phillip Stephens,owalters@krause.com,(484)335-9903,Unit 7432 Box 9398\nDPO AA 08612,1992,3,rent,60000,2
1,Jimmy Robles,mirandamartinez@hotmail.com,421-204-3246x2302,"7352 Wolfe Greens\nSouth Jamesborough, AL 30399",1972,0,rent,400000,0
2,Brendan Lopez,coopersavannah@yahoo.com,(537)652-1698,"47597 Jodi Court Suite 680\nSolomonborough, HI...",1912,2,rent,100000,6
3,Steven Robinson,jorgelittle@gmail.com,4015205767,"0875 Caleb Isle Suite 099\nNew Michaelborough,...",1923,1,own,50000,6
4,Chad Barrett,kristenvalentine@hotmail.com,001-412-096-8958x94271,"PSC 9915, Box 5985\nAPO AE 83192",1985,3,rent,50000,8